<div class="row">
<div class="col-12 col-lg-4">

<img src="media/hex-1r.png"><br/>
<img src="media/hdb3d-c7-t.png"><br/>

<img src="media/logo.png"><br/><br/>
<a href="http://www.nus.edu.sg"><img src="media/NUS_logo_greyscale.png"></a>

<div id="profile">
      <ul class="network-icon" aria-hidden="true">
        <li>
          <a itemprop="sameAs" href="mailto:filip@nus.edu.sg">
            <i class="fas fa-envelope big-icon"></i>
          </a>
        </li>
		    <li>
          <a itemprop="sameAs" href="http://twitter.com/urbanalyticslab" target="_blank" rel="noopener">
            <i class="fab fa-twitter big-icon"></i>
          </a>
        </li>     
        <li>
          <a itemprop="sameAs" href="https://scholar.google.com/citations?user=jGqm4kEAAAAJ&hl=en" target="_blank" rel="noopener">
            <i class="ai ai-google-scholar big-icon"></i>
          </a>
        </li>  
        <li>
          <a itemprop="sameAs" href="https://www.researchgate.net/profile/Filip_Biljecki" target="_blank" rel="noopener">
            <i class="ai ai-researchgate big-icon"></i>
          </a>
        </li>
        <li>
          <a itemprop="sameAs" href="https://github.com/ualsg" target="_blank" rel="noopener">
            <i class="fab fa-github big-icon"></i>
          </a>
        </li>
      </ul>
    </div>




</div>

<div class="col-12 col-lg-8">

{{ .page.Content }}

</div>
</div>
