.section-subheading.article-title.mb-0.mt-0 {
    line-height: 1.25;
    text-rendering: optimizeLegibility;
    hyphens: manual;
}

div.btn-links {
	display: none;
}

.wg-hero {
    padding: 3em 0;
    clear: both;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    animation: intro .3s both;
    animation-delay: 0s;
    animation-delay: .25s;
}