<link href="https://unpkg.com/tabulator-tables@4.7.1/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.1/dist/js/tabulator.min.js"></script>

<table id="journals" class="display">
    <thead>
        <tr>
            <th width="300">Journal</th>
            <th width="130">Publisher</th>
            <th width="75" tabulator-hozAlign="right">IF</th>
            <th width="75" tabulator-hozAlign="right">Change (%)</th>
            <th width="75" tabulator-hozAlign="right">SJR</th>
            <th width="75">SJR quartile</th>
        </tr>
    </thead>
    <tbody>
      {{ range .journals }}
      <tr>
        {{ if .warning }}
        <td>{{ .title }} (<a href="{{ .warning }}">warning</a>)</td>
        {{else}}<td>{{ .title }}</td>{{ end }}
      	<td>{{ .publisher }}</td>
      	<td>{{ .IF }}</td>
      	<td>{{ .change }}</td>
      	<td>{{ .sjr }}</td>
      	<td>{{ .sjrq }}</td>
      </tr>
      {{ end }}  
    </tbody>
</table>

<script>
var table = new Tabulator("#journals", {
  layout:"fitDataStretch",
  columns:[
    {title:"Journal", field:"journal", formatter:"html"},
    {title:"Publisher", field:"publisher", hozAlign:"left"},
    {title:"IF", field:"if", sorter:"number", hozAlign:"right"},
    {title:"Change (%)", field:"change", sorter:"number", hozAlign:"right"},
    {title:"SJR", field:"sjr", sorter:"number", hozAlign:"right"},
    {title:"SJR quartile", field:"sjrq", hozAlign:"right"}
    ],
  initialSort:[
        {column:"journal", dir:"asc"} //sort by this first
    ]
});
</script>
