<table border="0">
<col width="70%">
<col width="30%">
{{ range .thesis }}
<tr>
<td>
<strong>{{ .title }}</strong><br /><br />
{{ if .profile }}
<a href="/authors/{{ .profile }}">{{ .name }}</a><br />
{{else}}
{{ .name }}<br />
{{ end }}
{{ .study }} ({{ .uni }}, {{ .year }})<br />
{{ if .thesis }}
<br />The thesis is available <a href="{{ .thesis }}">here</a>.
{{ end }}
{{ if .code }}
The code is open-sourced <a href="{{ .code }}">here</a>.
{{ end }}
{{ if .paper }}
<br />This research has also been published as a <a href="../publication/{{ .paper }}"> paper</a>.
{{ end }}
</td>
<td>
<img src=../theses/{{ .image }}>
</td>
</tr>
{{ end }}
</table>
